/* css rest */
*{
    margin: 0;
padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* css variables */
:root{
    --navbar-height:59px;
}
/* Navigation Bar */


/*1. Navigation Bar-logo and image  */

#logo{
    margin: 36px 50px;
    
}
#logo img{
    height: 80px;
    margin: -26px -21px;
    
    
}
/* 2. Navigation Bar-list styling */
#navbar{
    display: flex;
    align-items: center;
        position:sticky;
        top: 0px;
    
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;

}

#navbar ul{
    display: flex;/* display flex le element lai row maa laidenxa */
    font-family: serif;
}

#navbar ul li{
   
   list-style: none; /* list style none le bindu bindu aaaudainan */

font-size: 1.5rem;

}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 21px;
    border-radius: 20px;
        text-decoration: none;}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 2px 144px;
    height: 467px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('bg3.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 72%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1{
    color: white;
    text-align: center;
    font-family:sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family:sans-serif;
}
/* Services Section */

#services{
    margin: 34px;
    display: flex;


}
#services div.box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 11px;
    border-radius: 28px;
    background-color: #f0f0f0;
}
#services div.box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services div.box p{
    font-family:sans-serif;


}

/* Client Section */

#client-section{
   
    position: relative;

}
#client-section::before{
content: '';
position: absolute;
background:url('bg2.jpg');
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.8;


}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}
.client-item{
    padding: 34px;
}
#clients img{
    height: 120px;

}
/* Contact section */

#contact{
    position: relative;
    
}

#contact::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.7;
   background: url('contact.png') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 11px;
    font-size: 1.1rem;

}
#contact-box form{
    width: 40%;
}
    
#contact-box  label{
    font-size: 1.4rem;
    font-family: sans-serif;
   
}

footer{
    background: black;
    color: white;
    padding: 10px 20px;
}
/* Utility Classes */
.primary{
    font-size: 3.1rem;
    padding: 12px;
    font-family:sans-serif;
}
.h-primary{
    font-size: 2.6rem;
    padding: 12px;
    font-family:sans-serif;
}
.h-secondary{
    font-size: 1.7rem;
    padding: 12px;
    font-family:sans-serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}

.center{
    text-align: center;
}

